
  <div class = "login-container">
    <mat-form-field  class = "login-form">
      <mat-label>Логин</mat-label>
      <input matInput class = "login-form" [formControl]="login"
             (blur)="updateErrorMessage()" required>
      <mat-error class = 'error'>{{errorMessage}}</mat-error>
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-button class="button-next" (click)="Next()">
      <span class="text">
      Далее
    </span></button>
    </mat-card-actions>
  </div>




