  <div class = "login-container">
    <mat-form-field  class = "login-form">
      <mat-label>Пароль</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password_form" (blur)="updateErrorMessage()" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error class = 'error'>{{errorMessage}}</mat-error>
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-button class="button-next" (click)="auth()">
      <span class="text">
      Войти
    </span></button>
    </mat-card-actions>
  </div>

