  <div class = "login-container">
    <mat-form-field  class = "login-form">
      <input matInput class = "login-form" placeholder="Ввдетие ваш пароль" [formControl]="password_form"
             (blur)="updateErrorMessage()" required>
      <mat-error class = 'error'>{{errorMessage}}</mat-error>
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-button class="button-next" (click)="auth()">
      <span class="text">
      Войти
    </span></button>
    </mat-card-actions>
  </div>

